# Where to focus a marketing campaign?

## üìñ Background
You are a data analyst at a crowdfunding site. For the next quarter, your company will be running a marketing campaign. The marketing manager wants to target those segments that have donated the most in the past year. She turned to you to help her with her upcoming meeting with the CEO.

## üíæ The data
You have access to the following information:

#### Historic crowdfunding donations
- "category" - "Sports", "Fashion", "Technology", etc.
- "device" - the type of device used.
- "gender" - gender of the user.
- "age range" - one of five age brackets.
- "amount" - how much the user donated in Euros.

In [ ]:
import pandas as pd
import plotly.express as px
df = pd.read_csv('./data/crowdfunding.csv')
df.head()

     category   device gender    age  amount
0     Fashion      iOS      F  45-54    61.0
1      Sports  android      M  18-24    31.0
2  Technology  android      M  18-24    39.0
3  Technology      iOS      M  18-24    36.0
4      Sports  android      M  18-24    40.0

## üí™ Challenge
Create a **single** visualization that the marketing manager can use to explore the data. Include:

1. What are the top three categories in terms of total donations? 
2. What device type has historically provided the most contributions? 
3. What age bracket should the campaign target?

## üßë‚Äç‚öñÔ∏è Judging criteria

This is a community-based competition. The top 5 most upvoted entries will win.

The winners will receive DataCamp merchandise.

## ‚úÖ Checklist before publishing
- Rename your workspace to make it descriptive of your work. N.B. you should leave the notebook name as notebook.ipynb.
- Remove redundant cells like the judging criteria, so the workbook is focused on your answers.
- Check that all the cells run without error.

## ‚åõÔ∏è Time is ticking. Good luck!

In [ ]:
df.info()

NameError: name 'df' is not defined